html {
    color: white;
    background-color: black;
}
 
h1 {
    
    text-align: center;
}



.links {
    position: fixed;
    display: block;
    margin-left: 90%;
    background-color: blueviolet;
}

p {
    font-size: 25px;
}